:root{
    --dark_gray: #12161f;
    --blue_sky:#2e9afd;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--dark_gray);
    color:white;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.insumo_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.insumo_card{
    background-color: white;
    border-left: .5rem solid var(--blue_sky);
    padding: 1rem;
    margin: 1rem;
    color: black;
    display: grid;
    width: min(95vw,20rem);
    grid-template-columns:repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    border-radius: .5rem;
}
.insumo_card>p{
    color: gray;
    margin: 0 .5rem;
}
.json{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.plot{
    width: min(90vw, 25rem);
    
    margin: 2rem;
}
.chart{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loader{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: var(--blue_sky);
    animation-name: beat;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    opacity: .7;
}
@keyframes beat{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}